.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}
.red-color{
    color: #FF0000;
}
.margin-top{
    margin-top: 10px;
}

input.border-red{
    border: 1px solid #FF0000;
}