.m-radio-group {
    display: flex;
    height: 40px;
}

    .m-radio-group .m-radio-item {
        display: flex;
        align-items: center;
    }

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    /*background-color: #019160;*/
    background-size: contain;
    content: '';
    display: inline-block;
    visibility: visible;
    /*border: 1px solid #019160;*/
}

input[type='radio']:checked:after {
    border-radius: 20px;
    position: relative;
    background-position: center;
    background-size: auto;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}